[submodule "design-tokens"]
	path = design-tokens
	url = https://github.com/open-formulieren/design-tokens
[submodule "org-dotgithub"]
	path = org-dotgithub
	url = git@github.com:open-formulieren/.github.git
